body{
	
}

.titulo-principal{
	padding-left: 30px;
}

#banner{
	width: 100%;

}

.principal{
	background: #CCCCCC;
	padding: 20px;
}


nav ul{
	display: inline;
	position: absolute;
	top: 14px;
	right: 0;
	width: 40%;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;

}
nav a{
	text-transform: uppercase;
	color: black;
	font-size: 20px;
	text-decoration: none;
}

.titulo-centralizado{
	text-align: center;
}

p{
	text-align: center;
}

em strong{
	color: red;
}

#mision{
	font-size: 20px;
}

.diferenciales{
	background: #FFFFFF;
	padding: 30px;
}

.items{
	font-style: italic;

}

ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagenDiferenciales{
	width: 50%;
}
