<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../Tools/reset.css">
		<link rel="stylesheet" href="../CSS/style-products.css">
		<title>Contacto - Barbería Alura</title>
	</head>
	<body>
		<header>
			<div class="caja">
				<h1><img src="../Images/logo.png"></h1>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="productos.html">Productos</a></li>
						<li><a href="contacto.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<form>
			
				<label for="nombre_apellido">Nombre y Apellido</label>
				<input type="text" id="nombre_apellido">

				<label for="email">Email</label>
				<input type="text" id="email">

				<label for="telefono">Telefono</label>
				<input type="text" id="telefono">


				<label for="mensaje">Mensaje</label>
				<textarea cols="64" rows="10" id="mensaje"></textarea>
				

				<div>
					<p>Cómo le gustaría que lo contactemos?</p>

					<label for="radio-email">Email</label>
					<input type="radio" value="email" id="radio-email" name="contacto">

					<label for="radio-telefono">Telefono</label>
					<input type="radio" value="telefono" id="radio-telefono" name="contacto">

					<label for="radio-wpp">WhatsApp</label>
					<input type="radio" value="wpp" id="radio-wpp" name="contacto">
				</div>

				<label><input type="checkbox">Le gustaría recibir novedades de la Barbería Alura?</label>
 
				<input type="submit" value="Enviar Formulario">
			</form>
		</main>
		<footer>
			<img src="../Images/logo-blanco.png">
			<p class="copyright">&copy Copyright Barbería Alura - 2023</p>
		</footer>
	</body>
</html>