<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../Tools/reset.css">
		<link rel="stylesheet" href="../CSS/style-products.css">
		<title>Contacto - Barbería Alura</title>
	</head>
	<body>
		<header>
			<div class="caja">
				<h1><img src="../Images/logo.png"></h1>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="productos.html">Productos</a></li>
						<li><a href="contacto.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<form>
			
				<label for="nombre_apellido">Nombre y Apellido</label>
				<input type="text" id="nombre_apellido">

				<label for="email">Email</label>
				<input type="text" id="email">

				<label for="telefono">Telefono</label>
				<input type="text" id="telefono">

				<input type="submit" value="Enviar Formulario">
				
			</form>
		</main>
		<footer>
			<img src="../Images/logo-blanco.png">
			<p class="copyright">&copy Copyright Barbería Alura - 2023</p>
		</footer>
	</body>
</html>